# Supabase Configuration
VITE_SUPABASE_URL="https://yufnxyhtonsypcwguzhz.supabase.co"
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl1Zm54eWh0b25zeXBjd2d1emh6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODgzMTMwNzMsImV4cCI6MjEwMzg4OTA3M30.EeHfkrFWvxuWFAWmVDtNCVoIx7k5VR9a9sDXT5z0ND0"

# Resend Email Configuration
VITE_RESEND_FROM_EMAIL="ICHIN By AMSI <onboarding@resend.dev>"
VITE_ADMIN_EMAIL="amsi.group@gmail.com"


